
.login-form-container {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*overflow: auto;*/
    background-image: url("https://severstal.com/upload/iblock/07c/dopkzh39mmzcub30r4xi5m51x274yghq/Mask-Group.jpg");
}

.login-form {
    background: #024181;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    margin: -125px 0 0 -125px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.error-message{
    color: #ff0033;
    text-align: center;
    font-weight: bold;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background-color: #ff0033;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.login-form input[type="submit"]:hover {
    background-color: #c10128;
}
