.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота окна минус высота navbar */
    width: 100%;
    padding-top: 50px; /* Высота navbar */
    /*background: #c800ff;*/
}



